<ion-header>
  <ion-toolbar>
    <ion-title>MeteoroLab</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    
    <ion-grid>
      <h3>Ejemplo listado de ciudades</h3>
      <ion-row>
        <ion-col>
          <div><b>
            Ciudad
          </b></div>
        </ion-col>
        <ion-col>
          <div><b>
            Codigo
          </b></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            Bogota
          </div>
        </ion-col>
        <ion-col>
          <div>
            co
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            london
          </div>
        </ion-col>
        <ion-col>
          <div>
            uk
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            Medellin
          </div>
        </ion-col>
        <ion-col>
          <div>
            co
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-img src="assets/images/clima.png" style="width: 70%; height: 70%;"></ion-img>
</ion-content>
