<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>signup</ion-title> -->
    <ion-buttons slot="start">
      <ion-back-button defaulthref="login" text="">
      </ion-back-button>
      </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
    <ion-card class="ion-no-margin">
      <ion-img src="./../assets/images/meteo.PNG"></ion-img>
      <ion-card-content>

    <form>
        <div class="wrapform">
         <ion-item>
            <ion-input type="text" placeholder="Email" #email>
           <ion-icon name="mail-outline"></ion-icon>
           </ion-input>
           </ion-item>

           <ion-item>

             <ion-input type="password" placeholder="Contraseña" #password>
             <ion-icon name="lock-closed"></ion-icon>
             </ion-input>
             </ion-item>

        </div>
         <div class="password_forgot">
            <ion-button fill="clear" class="ion-no-padding">Olvidó su contraseña?</ion-button>
         </div>
         <div class="sign-btn-wrap">
            <ion-button shape="round" type="submit"  fill="solid" (click)="onLogin(email,password)">Ingresar</ion-button>
           </div>

           <div class="text-tag">
           <span>O por vía de redes sociales</span>
           </div>

           <div class="social-btns">
               
               <ion-button fill="clear"  class="googlebtn ion-no-padding" (click)="onLoginGoogle(email,password)">
             <ion-img src="assets/images/google.png"></ion-img>
               </ion-button>

             </div>
        </form>
      </ion-card-content>


    </ion-card>
</ion-content>
